.contact-screen {
    padding: 70px 0;
    background-image: linear-gradient(rgba(47, 50, 75, 0.85), rgba(47, 50, 75, 0.85)), url("../img/contact/contacts.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.contact-screen__title {
    font-size: 37px;
    font-weight: 700;
    line-height: 41px;
    margin-bottom: 20px;
    color: var(--color-white);
    margin-left: -26px;
    letter-spacing: -1px;
}

.contact-screen__description {
    font-size: 22px;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 49px;
    color: rgba(255, 255, 255, 0.8);
}

.contact-screen__form {
    display: flex;
    flex-direction: column;
    width: 425px;
    margin: 0 auto 51px auto;
    align-items: center;
}

.contact-screen__form input {
    width: 100%;
    padding: 10px 26px;
    font-size: 22px;
    border-radius: 50px;
    border: 1.38px solid rgba(255, 255, 255, 1);
    background-color: transparent;
    margin-bottom: 17px;
}

.contact-screen__form input:last-of-type {
    margin-bottom: 49px;
}

.button.call-me {
    height: 48px;
    width: 218px;
    border-radius: 50px;
}

.contact-screen__agreement {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    color: var(--color-white);
}

.text-grey {
    position: relative;
    color: #4a76a8;
}

.text-grey:after {
    position: absolute;
    content: "";
    display: block;
    left: 0;
    bottom: 0px;
    width: 85px;
    height: 1px;
    background-color: #4a76a8;

}


@media (max-width:1024px) {

    .contact-screen {
        padding-top: 70px;
        padding-bottom: 56px;
    }

    .contact-screen__title {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 176x;
    }

    .contact-screen__description {
        font-size: 20px;
        line-height: 23px;
    }

    .contact-screen__form {
        width: 377px;
    }

    .contact-screen__form input {
        width: 100%;
        padding: 8px 23px;
        border-radius: 50px;
        margin-bottom: 20px;
    }

    .contact-screen__agreement {
        font-size: 17px;
        line-height: 20px;
    }
}

@media (max-width:320px) {

    .contact-screen {
        padding: 30px 0;
    }

    .contact-screen__title {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 10px;
    }

    .contact-screen__description {
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 35px;
    }

    .contact-screen__form {
        width: 290px;
    }

    .contact-screen__form input {
        width: 100%;
        padding: 6px 18px;
        margin-bottom: 15px;
    }

    .contact-screen__form input:last-of-type {
        margin-bottom: 45px;
    }

    .button.call-me {
        height: 38px;
        width: 174px;
    }

    .contact-screen__agreement {
        font-size: 11px;
        line-height: 13px;
    }
}